.header {
  background: #eee;
}

.top-bar {
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: 144px;

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__link {
    display: flex;
    gap: 6px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__arrow {
    margin-top: 3px;
  }
}
